@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');


* {
	margin: 0;
	padding: 0;
	list-style-type: none;
	box-sizing: border-box;
}

html, body {
	height: 100vh;
}

body {
	font-family: sans-serif;
	color: #444;
}

a {
	text-decoration: none;
	color: inherit;
}

.button, button {
	display: block;
	outline: none;
	padding: 0.4rem 1rem;
	background-color: #444;
	font-size: inherit;
	color: #fff;
	border: none;
}

input, button {
	outline: none;
	padding: 0.4rem 1rem;
	font-size: inherit;
}

input {
	color: #444;
}

button {
	cursor: pointer;
}

/**************
    markup 
**************/

:root {
  --color: #30343F;
  --code-bg: #EFEFEF;
  --inline-code-color: #BD0F16;
  --text-size: 1rem;
  --nav-transition: 0.5s linear;
  --background-color: #eee;
  --side-nav-width: 300px;
  --line-color: #ddd;
  --border: 1px solid #ddd;
}

.markup {
	font-size: 21px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.markup a {
	color: var(_color);
	text-decoration: none;
}

.markup code {
	padding: 0.em 0.3em;
	background-color: var(--code-bg);
	font-family: 'Inconsolata', monospace;
	color: var(--inline-code-color);
}

.markup pre code {
	display: block;
	padding: 0.8em 1em;
	background-color: var(--code-bg);
	font-size: 0.9em;
	color: var(--color);
	overflow-x: auto;
}

.markup h1, .markup h2, .markup h3, .markup h4 {
	font-weight: bold;
}

.markup h1, h2, h3, h4, h5, h6 {
	line-height: 2;
}

.markup h1 {
	font-size: 2em;
	color: #444;
}

.markup h2 {
	font-style: 1.5em;
}

.markup h3 {
	font-size: 1.17em;
}

.markup h4 {
	font-size: 1em;
}

.markup p {
	line-height: 1.6;
}

.markup a {
	text-decoration: underline;
}

.markup strong {
	font-weight: bold;
}

.markup blockquote {
	display: block;
	margin: 0;
	padding: 0;
	border-left: solid 5px #cdcdcd;
	font-style: italic;
	padding: 0em 1em;
	margin: 1em 0em;
}

.markup ul {
	margin-bottom: 1.5em;
}

.markup ul li {
	line-height: 1.5;
}

.markup hr {
	display: block;
	height: 1px;
	background: transparent;
	width: 100%;
	border: none;
	border-top: solid 1px var(--line-color);
}

.markup ul {
	padding-left: 1rem;;
}

.markup li {
	list-style-type: disc;
}
