<script>
  import { Link } from "svero";
	import { store } from '../../store'
	import PostListItem from './PostListItem.svelte'

	$: user = $store.user

	let filter = ''
	$: all_posts = $store.posts.all
	$: regex = RegExp(filter, 'i')
	$: filtered_posts = all_posts.filter(post => post.title.match(regex))

</script>

<style>
	.list-header {
		height: 3rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 1rem;
	}

</style>

{#if user.authenticated}
<div class="list-header">
	<input type=text bind:value={filter} />
	<Link href="post-edit/new">
		<span class=button>New Post</span>
	</Link>
</div>
<div class="list">
	{#each filtered_posts as post (post.id)}
		<PostListItem post={post} />
	{/each}
</div>
{/if}