<script>
	import { Link } from 'svero'
	export let post = null
</script>

<style>
	.list-item {
		display: block;
		padding: 1rem;
		background: #ddd;
		color: #444;
	}

	.list-item:hover {
		background-color: #444;
		color: #fff;
	}
</style>

<Link href={`post/${post.id}`} >
	<div class="list-item">
		{post.title}
		</div>
</Link>