<script>
	import { Link } from 'svero'
	import Wrapper from './layout/Wrapper.svelte'
	import { store } from '../store'
	import Userinfo from './Userinfo.svelte'

	export let full_width = false;

	let user = $store.user
</script>

<style>

	.flex {
		height: 60px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 3rem;
	}

	.app-title {
		font-size: 2rem;
		letter-spacing: 1px;
		text-decoration: none;
	}

</style>
<header>
		<div class="flex">
			<Link href="/" ><span  class="app-title">Scratchpad</span></Link>
			<Userinfo />
		</div>
</header>