<script>
	import Wrapper from "./layout/Wrapper.svelte"; 
  import Header from "./Header.svelte";
	import PostList from "./postlist/PostList.svelte";
	
	import { store } from '../store'

	$: user = $store.user 

</script>

<style>
	main {
		padding: 1rem 0;
	}

	.not-authenticated {
		height: 400px;
		display: grid;
		place-items: center;
		font-size: 4rem;
		color: #ddd;
	}

</style>

<div class="page-wrap">
	<Header />
	<main>
		{#if user.authenticated}
		<Wrapper>
			<PostList />
		</Wrapper>
		{:else}
			<div class="not-authenticated">Please Sign In</div>
		{/if}
	</main>
</div>