<script>
	import Header from './Header.svelte'

	
</script>

<style>
.wrap {
		height: 80%;
		display: grid;
		grid-template-rows: auto 1fr;
	}

	.not-found {
		display: grid;
		place-items: center;
		font-size: 2rem;
		color: #ccc;
	}



</style>

<div class="wrap">
	<Header />

	<div class="not-found">
		Not Found
	</div>

</div>