<script>
  import { Link, navigateTo } from "svero";
  import { store, post_action, notification_action } from "../store";
  import { firebase_action } from "../data/firebase.action";
  import { firebase_validate } from "../data/firebase.validate";

  import marked from "marked";
  import Header from "./Header.svelte";

  export let router = {};

  let _post;
  let post;
  let user = $store.user;
  let error;

  store.subscribe(store => {
    if (router.params.id === "new") {
      _post = null;
    } else {
      _post = store.posts.all.find(post => post.id === router.params.id);
    }
    post = _post ? { ..._post } : { title: "", markdown: "" };
  });

  function save(e) {
    error = firebase_validate.validate_post(post);
    if (!error) {
      firebase_action.savePost(post, user.uid).then(docRef => {
        notification_action.add('saved')
        if (docRef && post.id !== docRef.id) {
          const path = `/post-edit/${docRef.id}`;
          navigateTo(path);
        }
      });
    } else {
      notification_action.add_error(error)
    }
  }

  function reset() {
    post.title = _post.title;
    post.markdown = _post.markdown;
  }
</script>

<style>
  .page-wrap {
    display: grid;
    grid-template-rows: 60px 1fr;
    height: 100%;
  }
  form {
    height: 100%;
    display: grid;
    padding: 0 2rem;
    grid-template-rows: 3rem 1fr;
  }

  .title-section {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #f2f2f2;
  }

  .title-section .title {
    font-size: 1.3rem;
  }

  .title input {
    width: 100%;
    background: transparent;
    border: none;
  }

  .title-section .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .title-section .actions > * {
    margin-right: 1rem;
  }

  .content-section {
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .content-section > *:first-child {
    border-right: 1px solid #ddd;
  }

  .content-section .markup {
    padding: 1rem;
  }

  .markup {
    font-size: 16px;
  }

  textarea {
    padding: 1rem;
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-family: monospace;
    resize: none;
    border: none;
    outline: none;
  }

  .center {
    display: grid;
    place-items: center;
  }
</style>

<div class="page-wrap">

  <Header />
  {#if post}
    <form>
      <div class="title-section">
        <div class="title">
          <input type="text" bind:value={post.title} placeholder="Title Here" />
        </div>
        <div class="actions">
          <button on:click|preventDefault={save}>Save</button>
          <button on:click|preventDefault={reset}>Reset</button>
          <Link href={`/post/${post.id}`}>Post</Link>
        </div>
      </div>
      <div class="content-section">
        <textarea bind:value={post.markdown} />
        <div class="markup">
          {#if post.markdown}
            {@html marked(post.markdown)}
          {/if}
        </div>
      </div>
    </form>
  {:else}
    <div class="center">Edit Post</div>
  {/if}

</div>
