<script>
  import { Link } from "svero";
  import { store } from "../store";
  import { firebase_action } from "../data/firebase.action";

  import Header from "./Header.svelte";
  import Wrapper from "../components/layout/Wrapper.svelte";
  import Markup from "../components/Markup.svelte";
  import marked from "marked";

  export let router = {};

  $: post = router.params
    ? $store.posts.all.find(post => post.id === router.params.id)
    : null;
  $: notFound = !post;
  $: user = $store.user;

  $: updated_date = post && post.updated ? getUpdatedDate(post.updated) : "";

  function deletePost() {
    if (post) {
      firebase_action.removePost(post.id, user.uid);
    }
  }

  function getUpdatedDate(milliseonds) {
    let date = new Date(milliseonds);

    const options = {
      day: "numeric",
      month: "numeric",
      year: "numeric",
      hour: "numeric",
      minute: "numeric"
    };
    return new Intl.DateTimeFormat("en-US", options).format(date);
  }
</script>

<style>
  .post {
    min-height: 400px;
  }

  .title-bar {
    position: relative;
    height: 6rem;
  }
  .title {
    height: 100%;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .actions {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .updated {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    color: #999;
    z-index: 5;
    background-color: #fff;
  }

  .actions > * {
    margin-left: 1rem;
  }

  .not-found {
    height: 100%;
    min-height: 400px;
    display: grid;
    place-items: center;
    font-size: 2rem;
    color: #ddd;
  }
</style>

<Header />
<Wrapper maxwidth="800px">

  {#if post}
    <div class="post">
      <div class="title-bar">
        <div class="title">{post.title}</div>
        <div class="actions">
          <Link href={`/post-edit/${post.id}`} class="button">Edit</Link>
          <button class="button" on:click|preventDefault={deletePost}>
            Delete
          </button>
        </div>
        <div class="updated">{updated_date}</div>
      </div>
      <div class="markup">
        {@html marked(post.markdown)}
      </div>
    </div>
  {:else}
    <div class="not-found">Sorry post not found</div>
  {/if}
</Wrapper>
