<script>
	import { store } from "../store";
	import { firebase_action } from '../data/firebase.action'

	$: user = $store.user;
	
	function handleSignIn() {
		firebase_action.signIn()
	}
	function handleSignOut() {
		firebase_action.signOut()
	}
</script>

<style>
  .items {
    display: flex;
		justify-content: flex-end;
		align-items: center;
  }

  .items * {
		margin-left: 1rem;
		
  }

  button {
    outline: none;
    padding: 0.2rem 0.8rem;
  }
</style>

<div class="items">
  {#if user.authenticated}
    <div class="username">{user.displayName}</div>
    <button on:click|preventDefault={handleSignOut}>Sign out</button>
  {:else}
    <button on:click|preventDefault={handleSignIn}>Sign in</button>
  {/if}
</div>
