<script>
  
  import { Router, Route } from "svero";
  
  import Home from "./components/Home.svelte";
  import NotFound from "./components/NotFound.svelte";
  import Post from "./components/Post.svelte";
  import PostEdit from "./components/PostEdit.svelte";
  import Notifications from "./components/utility/Notifications.svelte";

</script>

<Router>
  <Route exact path="/" component={Home} />
  <Route path="/post/:id" component={Post} />
  <Route exact path="/post-edit/new" component={PostEdit} />
  <Route path="/post-edit/:id" component={PostEdit} />
  <Route fallback path="*" let:router>
      <NotFound />
  </Route>
</Router>

<Notifications />

