<script>
	export let text = ''
	export let notification_type = ''
</script>

<style>
	.item {
		padding: 0.5rem 1rem;
		border: 2px solid #ddd;
		border-radius: 5px;
		background: #fff;
	}

	.error {
		color: #810000;
		border: 2px solid #810000;
		background: rgb(249, 234, 234);
	}
</style>

<div class="{`item ${notification_type}`}">
	{text}
</div>