<script>
	import { store } from '../../store'
	import NotificationItem from './NotificationItem.svelte'

	$: list = $store.notifications.list
</script>

<style>
	.list {
		position: fixed;
		top: 30px;
		right: 30px;
		width: 300px;
		display: grid;
		grid-gap: 1rem;
		z-index: 10;
	}
</style>


<div class="list">
	{#if list.length > 0}
		{#each list as item} 
			<NotificationItem text={item.message} notification_type={item.type} />
		{/each}
	{/if}
</div>